@import "Colors.less";
@import "Common.less";

.button-reset {
  display: inline-block;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  transition: background-color 0.1s ease-in, border-color 0.1s ease-in;
}

.simple {
  .button-reset;
  background: @white;
  border-color: @quip-color-grey-lighter;
  color: @quip-color-grey;

  &:focus,
  &:hover {
    border-color: darken(@quip-color-grey, 30%);
    background: @quip-color-grey-lightest;
  }
  
  &[disabled] {
    background: @white;
    color: @quip-color-grey-light;
    border-color: @quip-color-grey-lightest;
    cursor: not-allowed;
  }
}

.primary {
  .button-reset;
  background: @quip-color-blue;
  border-color: @quip-color-blue;
  color: @white;

  &:focus,
  &:hover {
    border-color: darken(@quip-color-blue, 30%);
    background: darken(@quip-color-blue, 5%);
  }

  &:focus {
    text-decoration: underline;
  }
  
  &[disabled] {
    background: @quip-color-blue-light;
    border-color: @quip-color-blue-light;
    cursor: not-allowed;
  }
}

.discreet {
  .button-reset;
  text-align: left;
  padding: 2px;
  background: transparent;
  border: none;
  font-size: 0.9em;

  &:focus,
  &:hover {
    background: @quip-color-grey-lightest;
  }
  
  &[disabled] {
    background: none;
    cursor: not-allowed;
    color: @quip-color-grey-dark;
  }
}

.discreetForDark {
  .discreet;
  color: @white;

  &:focus,
  &:hover {
    background: @quip-color-grey-darker;
    text-decoration: underline;
  }

  &[disabled] {
    background: none;
    cursor: not-allowed;
    color: @quip-color-grey-light;
  }
}

.iconButton {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    margin-right: 5px;
  }
}

.bigBoyPrimary {
  .primary;

  width: 100%;
  padding: 10px;
}

.bigBoySimple {
  .simple;

  width: 100%;
  padding: 10px;
}

.justIcon {
  .iconInline;
}