@import "Colors.less";
@import "Common.less";

.focus {
  // HACK overwrite some heavy-handed quip styles
  border-color: @quip-color-blue !important;
  outline: 1px @quip-color-blue;
  box-shadow: 0px 2px 5px @quip-color-grey-lighter;
}

.input-reset {
  outline: none;
  font-size: 1em;
  padding: 5px 10px;

  &:focus {
    .focus;
  }

  &:disabled {
    background: @off-white;
  }
}

.monospace {
  font-family: monospace;
  font-size: 0.8em;
}

.textInput {
  .input-reset;
}

.textarea {
  .input-reset;
  resize: vertical;
  width: 100%;
  margin: 0 auto 10px;
}

.select {
  .input-reset
}

.checkbox,
.radio {
  display: inline;
}

.label {
  color: @quip-color-grey-dark;
  margin-right: 5px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.stackedFormInput {
  display: flex;
  flex-direction: column;

  .label {
    margin-bottom: 5px;
  }

  input[type=text] {
    .input-reset;
  }

  textarea {
    .input-reset;

    width: 100%;
    resize: vertical;
  }

  .textarea {
    border: 1px @quip-color-grey-lightest solid;
    border-radius: 6px;
    background: @white;
    padding: 5px 10px;

    &.focus {
      .focus;
    }
  }

  & + .stackedFormInput {
    margin-top: 10px;
  }
}

.container {
  padding: 10px;
  background: @off-white;
  border: 1px @quip-color-grey-lighter solid;

  &.floater {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

.formRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .rowQueen {
    flex: 0.96 0 auto;
    display: flex;
    align-items: baseline;

    .textInput {
      flex: 1 auto;
    }
  }
}

.tagsYouMightWant {
  margin-left: 5px;
  text-transform: none;
  font-weight: normal;
}
