@import "Colors.less";

.success {
  color: @quip-color-green;
  font-weight: bold;
  border-bottom: 2px @quip-color-green solid;
}

.helper {
  color: @quip-color-grey;
  margin: 0;

  .icon {
    transform: translateY(3px);
  }

  &:hover {
    color: @quip-color-blue;
    
    .icon {
      stroke: @quip-color-blue;
    }
  }
}

.instruction {
  font-style: italic;

  a {
    color: @quip-color-blue-dark;
    text-decoration: underline;
  }

  .icon {
    transform: translateY(3px);
  }
}