@import "Colors.less";

.noteList {
  margin-left: 10px;
  overflow-y: auto;
  height: 300px;
}

.note {
  padding: 5px 10px;
  transition: background 0.2s ease-in;
  border-bottom: 1px solid darken(@off-white, 10%);

  &:last-child {
    margin-bottom: 20px;
    border-bottom: none;
  }

  &:hover {
    background: @off-white;
  }

  .content {
    margin: 0 auto 10px;
    white-space: pre-line;

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.25em;
    }

    h3 {
      text-transform: uppercase;
    }

    pre {
      padding: 10px;
      background: @quip-color-grey-darkest;
      color: @quip-color-grey-lightest;
      border-radius: 4px;
      white-space: pre-line;
    }

    p > code {
      background: @white;
      border: 1px @quip-color-grey-lightest solid;
      padding: 1px 4px;
      border-radius: 4px;
    }

    blockquote {
      border-left: 3px @quip-color-grey solid;
      padding-left: 6px;
      margin-left: 0;
      color: @quip-color-grey-darkest;
    }
  }

  .owner {
    margin-bottom: 0;
    font-size: 0.9em;
    font-style: italic;
  }
}

.topicList {
  .topic {
    border: 1px solid #cecece;
    border-radius: 3px;
    padding: 1px 2px;
    font-size: 0.8em;
    margin-right: 5px;
  }
  
  .noteTopic {
    .topic;
  }

  .noteSection {
    .topic;
    background: fade(@quip-color-green, 20%);
    border-color: @quip-color-green;
  }
}
