@import "Colors.less";
@import "Common.less";

.noteList {
  margin: 20px auto 10px;
}

.note {
  padding: 20px 10px 10px;
  transition: background 0.2s ease-in;
  border-bottom: 1px solid darken(@off-white, 10%);

  &:last-child {
    margin-bottom: 20px;
    border-bottom: none;
  }

  &:hover {
    background: @off-white;
  }

  .content {
    margin: 0 auto 20px;
  }

  .topicList {
    margin-bottom: 10px;
  }

  .icon {
    .iconInline;
  }
}

.advancedControls {
  display: flex;
  margin: 10px auto 0;

  .toggle {
    margin-left: auto;
  }

  .controls {
    margin-right: 5px;
    display: flex;
    align-items: baseline;
  }

  .destination {
    display: flex;

    button {
      margin-left: 5px;
    }
  }

  .deleter {
    padding-left: 5px;
    
    button {
      margin-left: 5px;
    }
  }
}

.topicList {
  .topic {
    border: 1px solid #cecece;
    border-radius: 3px;
    padding: 1px 2px;
    font-size: 0.8em;
    margin-right: 5px;
  }
  
  .noteTopic {
    .topic;
  }

  .noteSection {
    .topic;
    background: fade(@quip-color-green, 20%);
    border-color: @quip-color-green;
  }
}
