@import "Colors.less";

.search {
  &.open {
    flex: 1 0 auto;
  }

  &.closed {
    flex: 0 1 auto;
  }

  .inside {
    display: flex;
    justify-content: space-between;

    input {
      flex: 0.98 0 auto;
    }
  }
}
