@import "Colors.less";
@import "Common.less";

.search {
  &.open {
    flex: 1 0 auto;
  }

  &.closed {
    flex: 0 1 auto;
  }

  .inside {
    position: relative;

    @media all and (min-width: @desktopMedia) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .search {
        flex: 0.98 0 auto;
      }

      .filters {
        flex-basis: 100%;
      }
    }

    .searchHelper {
      display: none;
      position: absolute;
      bottom: -24px;
      right: 0;
    }

    .searchToggle:hover + .searchHelper {
      display: block;
    }

    @media all and (max-width: @desktopMedia) {
      .search {
        width: 100%;
        display: block;
      }

      .clear {
        margin-right: 5px;
      }

      .hideSearch,
      .clear {
        margin-top: 5px;
      }

      .hideSearch .label {
        display: inline;
      }
    }
  }

  .filters {
    margin: 10px auto 0;
  }

  .option {
    margin-right: 10px;
    user-select: none;
  }

  .optionbox {
    margin-right: 2px;
  }
}
