@import "Colors.less";

.search {
  &.open {
    flex: 1 0 auto;
  }

  &.closed {
    flex: 0 1 auto;
  }

  .inside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    .search {
      flex: 0.98 0 auto;
    }

    .searchHelper {
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }

  .filters {
    flex-basis: 100%;
    margin: 10px auto 0;
  }

  .option {
    margin-right: 10px;
    user-select: none;
  }

  .optionbox {
    margin-right: 2px;
  }
}
