@import "Colors.less";
@import "Common.less";

.container {
  position: relative;
  flex: 1 0 auto;
}

.mainline {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  .title,
  button {
    margin-right: 5px;
  }

  button:last-of-type {
    margin-left: auto;
  }
}

.list {
  position: absolute;
  width: 100%;
  max-height: 100px;
  padding: 10px;
  list-style: none;
  background: @white;
  border: 1px solid @quip-color-grey-lighter;
  .boxyOverlay;

  .empty {
    color: @quip-color-grey;
  }
}

.form {
  position: absolute;
  bottom: -100px;
  left: 5px;
  width: 100%;
  
  .boxyOverlay;
}