@import "Colors.less";

.sectionContainer {
  background: @quip-color-grey-darkest;
  color: @quip-color-grey-lightest;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.sectionList {
  list-style: none;
  padding: 0;
}

.section {
  cursor: pointer;
  padding: 3px 5px;
  margin: 0 -5px 0px;
  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }

  &.selected {
    font-style: bold;
    text-decoration: underline;
    background: fade(@white, 20%);
  }
}
